.btn {
    background-color: green;
}
.btn:hover{
    background-color: green;
}
a:hover{
    text-decoration: none;
}
a:link{
    color: black;
}
a:active{
    color: green;
}
a:visited{
    color: black;
}
p.card-text .price {
    font-weight: 300;
}
.img {
    width: 100px;
    height:100px;
}
/* .banner .herolike{
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid black;
    height: 250px; 
} */