.herolst {
    height: 200px;
    background-image: linear-gradient(#00ff66, rgb(247, 242, 242));
    margin-bottom: 30px;
}
.herolst h5 { 
    font-family:'Karla', sans-serif;
    font-size: 38px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.herolst p {
    font-family: 'Karla', sans-serif;
    font-size: larger;
    text-align: center;
}
.row {

}
.btn {
    background-color: hsla(144, 100%, 50%, 1);
}
.btn:hover{
    background-color: hsla(144, 100%, 50%, 1);
}
a:hover{
    text-decoration: none;
}
a:link{
    color: black;
}
a:active{
    color: hsla(144, 100%, 50%, 1);
}
a:visited{
    color: black;
}
p.card-text .price {
    font-weight: 300;
}
.img {
    width: 100px;
    height:100px;
}
.banner .herolike{
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid black;
    height: 250px; 
}
.card {
    border: 0;
}